hw4/dnn-accelerator-hls-unoptimized/compare/*
hw5/dnn-accelerator-hls-unoptimized-solution-master/compare/*
hw5/dnn-accelerator-hls-unoptimized-solution-master/build/*
hw6/dnn-accelerator-syn/GcdUnit/build/*
hw6/dnn-accelerator-syn/SramUnit/build/*
hw6/dnn-accelerator-syn/ConvVerilog/build/*
hw6/dnn-accelerator-syn/ConvHLS/build/*
hw6/dnn-accelerator-syn/GcdUnit/design/__pycache__/*
hw6/dnn-accelerator-syn/SramUnit/design/__pycache__/*
hw6/dnn-accelerator-syn/SRAM_4096_128/build/*
hw6/dnn-accelerator-syn/SRAM_8192_128/build/*
hw6/dnn-accelerator-syn/SRAM_256_512/build/*
hw6/dnn-accelerator-syn/SRAM_input/build/*
hw6/dnn-accelerator-syn/ConvHLS/design/rtl/build/*
hw6/hw5_solution/*
hw6/dnn-accelerator-syn/ConvHLS/design/build/*
hw6/dnn-accelerator-syn/ConvHLS/design/rlt/run.vcd
hw7/dnn-accelerator-pnr/GcdUnit/build/*
hw7/dnn-accelerator-pnr/SramUnit/build/*
hw7/dnn-accelerator-pnr/ConvVerilog/build/*
hw7/dnn-accelerator-pnr/ConvHLS/build/*
hw7/dnn-accelerator-pnr/GcdUnit/design/__pycache__/*
hw7/dnn-accelerator-pnr/SramUnit/design/__pycache__/*

